historical_value_streamlit_app/cfb_nfl_historical_value_estimate.csv
nfl_historical_value_R_app/cfb_nfl_historical_value_estimate.csv
misc/
Data & Modeling/data/raw_data/
.DS_Store
Data & Modeling/modeling/python/nfl_player_participation_2016_present.csv
Data & Modeling/modeling/python/nfl_players.csv
Data & Modeling/modeling/python/nfl_player_participation_2020_present.csv